<h1>Make your form here</h1>

<form method="POST" action="/pirates">
  <label for="name">Name: </label>
  <input type="text" id="name" name="pirate[name]">

  <label for="weight">Weight: </label>
  <input type="text" id="weight" name="pirate[weight]">

  <label for="height">Height: </label>
  <input type="text" id="height" name="pirate[height]">

  <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">

  <input type="submit" id="submit">
</form>
